<nav id="mainNav" data-spy="affix" data-offset-top="100" class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse myCollapse" id="bs-example-navbar-collapse-1">
      <img data-spy="affix" data-offset-top="100" src="../../assets/images/color_logo_transparent.svg" />
      <ul data-spy="affix" data-offset-top="100" class="nav navbar-nav navbar-right">
        <li>
          <a href="/home" class="ul-style-font">Home</a>
        </li>
        <li>
          <a href="/about" class="ul-style-font">About us</a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>
<div class="header">
  <div class="jumbotron-content container">
    <h1 class="title-st">SDN & NFV for Industry</h1>
    <button type="button" class="btn btn-inorks">CONTACT US</button>
  </div>  
</div>
<div class="grey-sect">
  <div class="container dm-t-b-grey">
    <div class="row">
      <div class="col-md-6">
        <h4>CIBER-SECURITY</h4>
        <p>We help to make your business more secure, accountable, and profitable, without getting in complex legacy solution based on hardware boxes.  We use software algorithms to solve the problem.</p>
      </div>
      <div class="col-md-6">
        <h4>STAFF TRAINING</h4>
        <p>We provide a broad spectrum of development and training options to equip your staff with the right tools to succeed in next generation data networks and bring the industry what they need.</p>
      </div>
    </div>
    <div class="row margin-df">
      <div class="col-md-6">
        <h4>SDN & NFV APPS</h4>
        <p>We help your  to move toward the 4th industrial revolutions. With our SDN and NFV applications, automation and network management will be easier than ever before.</p>
      </div>
      <div class="col-md-6">
        <h4>CONSULTING</h4>
        <p>We provide a wide range of consulting services for data networks, designed to support your industry's success. </p>
      </div>
    </div>
  </div>
</div>
<div class="black-sect">
  <div class="container dm-t-b-grey">
    <h2>Our solutions makes possible the 4th industrial revolution</h2>
    <div class="row">
      <div class="col-md-4 text-center">
        <img src="../../assets/images/adaptable.jpeg" class="img-fluid myImg">
        <h4 class="myHfour">Adaptable</h4>
        <p>Highly programmable network management platform. Software upgrades instead of Hardware resulting in significant CAPEX savings..</p>
      </div>
      <div class="col-md-4 text-center">
        <img src="../../assets/images/interoperable.jpeg" class="img-fluid myImg">
        <h4 class="myHfour">Interoperable</h4>
        <p>Vendor Agnostic, based on open industry standards and it is “future proof” due software enabled continual evolution.</p>
      </div>
      <div class="col-md-4 text-center">
        <img src="../../assets/images/future.jpeg" class="img-fluid myImg">
        <h4 class="myHfour">Future-proof</h4>
        <p>by providing a highly-programmable computer network. This means that computer network upgrades are performed through software, giving the grid computer networks the ability to truly evolve.</p>
      </div>
    </div>
  </div>
</div>
<section class="footer">
  <p>Copyright © 2017 INORKS - All Right reserved</p>
</section>